<div class="wrapper-index">
  <%= render "shared/search_books" %>
  <%= render partial: "shared/navbar", locals: {navbar:"home-navbar"} %>

  <div class="search-results book-show-layout friendships-layout">
    <%= render "shared/friendship_search" %>

    <div class="book-show-top friend-background">
      <div class="search-friends-container all-friends-wrap">
        
          <%  @users.sample(10).each do |result| %>
            <div class="review-card card-height">
              <div class="review-headline search-link mb-0">
                <%= link_to user_path(result.id) do %> 
                  <%if result.photo.attached? %>
                    <%= cl_image_tag(result.photo.key, class:"review-image friend-image")%>
                  <% else %>
                    <%= image_tag("user.png", class:"review-image friend-image")%>
                  <% end %>
                  <div class="friend-headline search-headline">
                    <h3><%= result.first_name %> <%= result.last_name%></h3>
                <% end %>
                    <p><%= pluralize(result.books.count, "book")%> in their library </p> 
                    <% if @user.id.eql?(result.id)%>
                        <p>That's you!</p>
                      <% elsif @user.pending_friends.include?(result) %>
                        <p>Friend Request Sent</p>
                      <% elsif @user.friends_with?(result) %>
                        <p>Friends</p>
                      <% else %>
                        <%= link_to "Add Friend", user_friendships_path(result), method: :post, remote: true ,class:"btn-success-add btn-white btn-send" %> 
                    <% end %>
                  </div>        
              </div>
            </div>
          <% end %>
      </div>
    </div>

    

  </div>

</div>