<%
=begin %>
<h3>Top Shelf</h3>
<% @books_top.each do |book| %>
  <%= link_to book_path(book.code) do %>
    <h4><%= book.name %></h4>
  <% end %>
  <p><%= book.author %></p>
  <% if @user == current_user %>
    <%= render "shared/update_shelf", book: book %> 
    <%= link_to "Review", new_book_review_path(book)%> 
  <% end %>   
<% end %>

<h3>Middle Shelf</h3>
<% @books_middle.each do |book| %>
  <%= link_to book_path(book.code) do %>
    <h4><%= book.name %></h4>
  <% end %>
  <p><%= book.author %></p>
  <% if @user == current_user %>
    <%= render "shared/update_shelf", book: book %>    
    <%= link_to "Review", new_book_review_path(book)%> 
  <% end %>
<% end %>

<h3>Bottom Shelf</h3>
<% @books_bottom.each do |book| %>
  <%= link_to book_path(book.code) do %>
    <h4><%= book.name %></h4>
  <% end %>
  <p><%= book.author %></p>
  <%= render "shared/update_shelf", book: book %>  
  <%= link_to "Review", new_book_review_path(book)%>   
<% end %>

<h3>Table Books</h3>
<% @books_table.each do |book| %>
  <%= link_to book_path(book.code) do %>
    <h4><%= book.name %></h4>
  <% end %>
  <p><%= book.author %></p>
  <% if @user == current_user %>
    <%= render "shared/update_shelf", book: book %> 
    <%= link_to "Review", new_book_review_path(book)%> 
  <% end %> 
<% end %>

<% if !current_user.friends_with?(@user) && @user != current_user %>
  <%= link_to "Send Friend Request", user_friendships_path(@user), method: :post %> 
<% end %> 
<%
=end %>

<div class="wrapper-index">
  <%= render "shared/search_books" %>
  <%= render "shared/navbar" %>

  
    <div class="search-results book-show-layout book-index-text" id="user-show">
      <% if current_user == @user %>
        <h1 class="header-library" >Welcome To Your Library</h1>
      <% else %>
        <h1 class="header-library">Welcome To <%= trim_s(@user.first_name) %>'s Library</h1>
      <% end %>
      <div class="featured-title carousel-seperator">
      <h2>Top Shelf</h2>
        <div class="table-description">
          <p>Books that you love</p>
          <div>
            <div class="icon-explain">
              <p>Place on your <%= image_tag("Middle.png", class:"button-shelf") %> Middle shelf |</p> 
              <p><%= image_tag("Bottom.png", class:"button-shelf") %> Bottom shelf |</p> 
              <p><%= image_tag("Table.png", class:"button-shelf") %> Table</p> 
            </div>
            
          </div>
        </div>
        
            
         

        <div class="glider-contain">
          <div class="glider">
          
            <% @books_top.each do |book| %>
              <% book_parsed =  find_book(book["code"]) %>
              <div class="book-carousel-small">
                <div class="search-img">
                  <%= link_to book_path(book_parsed["id"]) do %>
                    <% if book_parsed["volumeInfo"]["imageLinks"] != nil %>
                      <%= image_tag(find_image(book_parsed), class:"book-cover-search book-shelf-size")%>
                    <% else %>
                      <%= image_tag("no_image.jpg", class:"book-cover-search book-shelf-size")%>
                    <% end %>
                  <% end %>
                </div>
                <div class="book-buttons-shelf">
                  <%= link_to book_path(book, :shelf => "Middle Shelf"), :method=> :patch do %>
                    <%= image_tag("Middle.png", class:"button-shelf")%>
                  <% end %>
                  <%= link_to book_path(book, :shelf => "Bottom Shelf"), :method=> :patch do %>
                    <%= image_tag("Bottom.png", class:"button-shelf")%>
                  <% end %>
                  <%= link_to book_path(book, :shelf => "Table"), :method=> :patch do %>
                    <%= image_tag("Table.png", class:"button-shelf")%>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <button aria-label="Previous" class="glider-prev">«</button>
          <button aria-label="Next" class="glider-next">»</button>
          <div role="tablist" class="dots"></div>
        </div>
        <%= image_tag("Shelftransp.png", class:"shelf-position")%>
      </div>

      <div class="featured-title carousel-seperator">
        <h2>Middle Shelf</h2>
        <div class="table-description">
          <p>Books you've read</p>
          <div class="icon-explain">
            <p>Place on your <%= image_tag("Top.png", class:"button-shelf") %> Top shelf |</p>             
            <p><%= image_tag("Bottom.png", class:"button-shelf") %> Bottom shelf |</p> 
            <p><%= image_tag("Table.png", class:"button-shelf") %> Table</p> 
          </div>
        </div>
        <div class="glider-contain">
          <div class="glider-two">
          
            <% @books_middle.each do |book| %>
              <% book_parsed =  find_book(book["code"]) %>
              <div class="book-carousel-small">
                <div class="search-img">
                  <%= link_to book_path(book_parsed["id"]) do %>
                    <% if book_parsed["volumeInfo"]["imageLinks"] != nil %>
                      <%= image_tag(find_image(book_parsed), class:"book-cover-search book-shelf-size")%>
                    <% else %>
                      <%= image_tag("no_image.jpg", class:"book-cover-search book-shelf-size")%>
                    <% end %>
                  <% end %>
                </div>
                <div class="book-buttons-shelf">
                  <%= link_to book_path(book, :shelf => "Top Shelf"), :method=> :patch do %>
                    <%= image_tag("Top.png", class:"button-shelf")%>
                  <% end %>
                  <%= link_to book_path(book, :shelf => "Bottom Shelf"), :method=> :patch do %>
                    <%= image_tag("Bottom.png", class:"button-shelf")%>
                  <% end %>
                  <%= link_to book_path(book, :shelf => "Table"), :method=> :patch do %>
                    <%= image_tag("Table.png", class:"button-shelf")%>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <button aria-label="Previous" class="glider-prev">«</button>
          <button aria-label="Next" class="glider-next">»</button>
          <div role="tablist" class="dots"></div>
        </div>
        <%= image_tag("Shelftransp.png", class:"shelf-position")%>
      </div>

      <div class="featured-title carousel-seperator">
        <h2>Bottom Shelf</h2>
        <div class="table-description">
          <p>Books that aren't recommended</p>
          <div class="icon-explain">
            <p>Place on your <%= image_tag("Top.png", class:"button-shelf") %> Top shelf |</p> 
            <p><%= image_tag("Middle.png", class:"button-shelf") %> Middle shelf |</p> 
            <p><%= image_tag("Table.png", class:"button-shelf") %> Table</p> 
          </div>
        </div>

        <div class="glider-contain">
          <div class="glider-three">
          
            <% @books_bottom.each do |book| %>
              <% book_parsed =  find_book(book["code"]) %>
              <div class="book-carousel-small">
                <div class="search-img">
                  <%= link_to book_path(book_parsed["id"]) do %>
                    <% if book_parsed["volumeInfo"]["imageLinks"] != nil %>
                      <%= image_tag(find_image(book_parsed), class:"book-cover-search book-shelf-size")%>
                    <% else %>
                      <%= image_tag("no_image.jpg", class:"book-cover-search book-shelf-size")%>
                    <% end %>
                  <% end %>
                </div>
                <div class="book-buttons-shelf">
                  <%= link_to book_path(book, :shelf => "Top Shelf"), :method=> :patch do %>
                    <%= image_tag("Top.png", class:"button-shelf")%>
                  <% end %>
                  <%= link_to book_path(book, :shelf => "Middle Shelf"), :method=> :patch do %>
                    <%= image_tag("Middle.png", class:"button-shelf")%>
                  <% end %>
                  <%= link_to book_path(book, :shelf => "Table"), :method=> :patch do %>
                    <%= image_tag("Table.png", class:"button-shelf")%>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <button aria-label="Previous" class="glider-prev">«</button>
          <button aria-label="Next" class="glider-next">»</button>
          <div role="tablist" class="dots"></div>
        </div>
        <%= image_tag("Shelftransp.png", class:"shelf-position")%>
      </div>

      <div class="featured-title carousel-seperator">
        <h2>On Your Table</h2>
        <div class="table-description">
          <p>Books that are on your watchlist</p>
          <div class="icon-explain">
            <p>Place on your <%= image_tag("Top.png", class:"button-shelf") %> Top shelf |</p> 
            <p><%= image_tag("Middle.png", class:"button-shelf") %> Middle shelf |</p> 
            <p><%= image_tag("Bottom.png", class:"button-shelf") %> Bottom shelf</p> 
          </div>
        </div>

        <div class="glider-contain">
          <div class="glider-four">
          
            <% @books_table.each do |book| %>
              <% book_parsed =  find_book(book["code"]) %>
              <div class="book-carousel-small">
                <div class="search-img">
                  <%= link_to book_path(book_parsed["id"]) do %>
                    <% if book_parsed["volumeInfo"]["imageLinks"] != nil %>
                      <%= image_tag(find_image(book_parsed), class:"book-cover-search book-shelf-size")%>
                    <% else %>
                      <%= image_tag("no_image.jpg", class:"book-cover-search book-shelf-size")%>
                    <% end %>
                  <% end %>
                </div>
                <div class="book-buttons-shelf shelf-bottom-icons">
                 <%= link_to book_path(book, :shelf => "Top Shelf"), :method=> :patch do %>
                    <%= image_tag("Top.png", class:"button-shelf") %>
                  <% end %>
                  <%= link_to book_path(book, :shelf => "Middle Shelf"), :method=> :patch do %>
                    <%= image_tag("Middle.png", class:"button-shelf")%>
                  <% end %>
                  <%= link_to book_path(book, :shelf => "Bottom Shelf"), :method=> :patch do %>
                    <%= image_tag("Bottom.png", class:"button-shelf")%>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <button aria-label="Previous" class="glider-prev">«</button>
          <button aria-label="Next" class="glider-next">»</button>
          <div role="tablist" class="dots"></div>
        </div>
        <%= image_tag("Shelftransp.png", class:"shelf-position")%>
      </div>

    </div>    
  
</div>