<div class="wrapper-index">
  <%= render "shared/search_books" %>
  <%= render partial: "shared/navbar", locals: {navbar:"home-navbar"} %>

  <%# Note: Many conditionals on this page  %>
  <%# All shelves added as partials can be found in the same folder. Refactor opp!  %>

  <%# User Headline %>  
  <div class="search-results book-show-layout book-index-text" id="user-show">
    <%= render "header_show" %>

  <%# Shelf 1 %>
    <%= render "top_shelf" %>

  <%# Shelf 2 %>
    <%= render "middle_shelf" %>

  <%# Shelf 3 %>
    <%= render "bottom_shelf" %>

  <%# Shelf 4 %>
    <%= render "table" %>
  </div>    
</div>