<div class="wrapper-index">
  <%= render "shared/search_books" %>
  <%= render partial: "shared/navbar", locals: {navbar:"home-navbar"} %>

<%# Note: Many conditionals on this page to render the page according to whether user is current user or if viewing another person's %>

<%# User Headline %>  
    <div class="search-results book-show-layout book-index-text" id="user-show">
      <div class="user-header">
      
        <div class="user-headline">
          <%if @user.photo.attached? %>
            <%= cl_image_tag(@user.photo.key, class:"review-image friend-image image-small")%>
          <% else %>
            <%= image_tag("user.png", class:"review-image friend-image image-small")%>
          <% end %>
          <% if current_user == @user %>
            <h1 class="header-library" >Welcome To Your Library</h1>
          <% else %>
            <h1 class="header-library">Welcome To <%= trim_s(@user.first_name) %> Library</h1>
          <% end %>
        </div>

        <div class="btn-status-show">
          <% if current_user.not_friends.include?(@user) %>
            <%= link_to "Add Friend", user_friendships_path(@user), remote: true ,method: :post, class:"btn-success-add btn-white btn-primary btn-send" %> 
          <% elsif current_user.friends_with?(@user) %>
            <%= link_to "Unfriend", user_friendships_remove_path(@user), method: :post, class:"btn-success-add btn-white btn-red" %>
          <% elsif current_user.pending_friends.include?(@user) %>
            <p class="btn-success-add btn-grey btn-white"><em>Pending</em></p>
          <% end %>
        </div>

      </div>

<%# Shelf 1 %>
      <div class="featured-title carousel-seperator">
      <h2>Top Shelf</h2>
        <div class="table-description-dflex">
          <% if current_user == @user  %>
            <p>This shelf is reserved for books that you absolutely love and wouldn't hesitate to recommend to a friend.</p>
          <% else %>
            <p>These are books that <%= @user.first_name %> loves and recommends. Have a browse and add them to your own library!</p>
          <% end %>
          <div class="icon-column">
            <div class="icon-explain mb-1">
              <% if current_user == @user %>
                <p>Write a new review <i class="far fa-edit new-icon-color"></i> |</p>
                <p>Edit a review <i class="far fa-edit edit-icon-color"></i></p>
              <% end %>
            </div>
            <div class="icon-explain">
              <% if current_user == @user %>
                <p>Place on your <%= image_tag("Middle.png", class:"button-shelf") %> Middle shelf |</p> 
                <p><%= image_tag("Bottom.png", class:"button-shelf") %> Bottom shelf |</p> 
                <p><%= image_tag("Table.png", class:"button-shelf") %> Table</p> 
              <% end %>
            </div>
          </div>
        </div>
        <div class="glider-contain glider-select-one">
          <div class="glider glider-select">
          
            <% @books_top.each do |book| %>
              <% book_parsed =  find_book(book["code"]) %>
              <div class="book-carousel-small">
                <div class="book-buttons-shelf">
                  <% if current_user == @user %>
                    <% if book.reviews.empty? %>
                      <%= link_to new_book_review_path(book) do %>
                        <i class="far fa-edit new-icon-color"></i>
                      <% end %>
                    <% else %>
                      <%= link_to edit_book_review_path(book.id, book.reviews.last) do %>
                        <i class="far fa-edit edit-icon-color"></i>
                      <% end %>
                    <% end %> 
                    <%= link_to book_path(book), remote: true , method: :delete , class:"delete-book" do %>
                      <i class="fas fa-times-circle"></i>
                    <% end %>
                  <% else %>
                    <p></p> 
                  <% end %>
                </div>
                <div class="search-img">
                  <%= link_to book_path(book_parsed["id"]) do %>
                    <% if book_parsed["volumeInfo"]["imageLinks"] != nil %>
                      <%= image_tag(find_image(book_parsed), class:"book-cover-search book-shelf-size")%>
                    <% else %>
                      <%= image_tag("no_image.jpg", class:"book-cover-search book-shelf-size")%>
                    <% end %>
                  <% end %>
                </div>
                <div class="book-buttons-shelf">
                  <% if current_user == @user %>
                    <%= link_to book_path(book, :shelf => "Middle Shelf"), class:"middle-book-btn", remote: true , method: :patch do %>
                      <%= image_tag("Middle.png", class:"button-shelf")%>
                    <% end %>
                    <%= link_to book_path(book, :shelf => "Bottom Shelf"), class:"bottom-book-btn", remote: true , method: :patch do %>
                      <%= image_tag("Bottom.png", class:"button-shelf")%>
                    <% end %>
                    <%= link_to book_path(book, :shelf => "Table"), class:"table-book-btn", remote: true , method: :patch do %>
                      <%= image_tag("Table.png", class:"button-shelf")%>
                    <% end %>
                  <% else %>
                    <p></p> 
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <button aria-label="Previous" class="glider-prev">«</button>
          <button aria-label="Next" class="glider-next">»</button>
          <div role="tablist" class="dots"></div>
        </div>
        <%= image_tag("Shelftransp.png", class:"shelf-position")%>
      </div>


<%# Shelf 2 %>
      <div class="featured-title carousel-seperator">
        <h2>Middle Shelf</h2>
        <div class="table-description-dflex">
          <% if current_user == @user %>
            <p>This shelf is reserved for books that you've read and enjoyed but didn't necessarily leave a lasting impact on you.</p>
          <% else %>
            <p>These are books that <%= @user.first_name %> has read and enjoyed but not quite at the same level as the ones on their top shelf.</p>
          <% end %>
          <div class="icon-explain">
            <% if current_user == @user %>
              <p>Place on your <%= image_tag("Top.png", class:"button-shelf") %> Top shelf |</p>             
              <p><%= image_tag("Bottom.png", class:"button-shelf") %> Bottom shelf |</p> 
              <p><%= image_tag("Table.png", class:"button-shelf") %> Table</p> 
            <% end %>
          </div>
        </div>
        <div class="glider-contain glider-select-two">
          <div class="glider-two glider-select">
          
            <% @books_middle.each do |book| %>
              <% book_parsed =  find_book(book["code"]) %>
              <div class="book-carousel-small">
                <div class="book-buttons-shelf">
                  <% if current_user == @user %>
                    <% if book.reviews.empty? %>
                      <%= link_to new_book_review_path(book) do %>
                        <i class="far fa-edit new-icon-color"></i>
                      <% end %>
                    <% else %>
                      <%= link_to edit_book_review_path(book.id, book.reviews.last) do %>
                        <i class="far fa-edit edit-icon-color"></i>
                      <% end %>
                    <% end %> 
                    <%= link_to book_path(book) , method: :delete,  class:"delete-book" do %>
                      <i class="fas fa-times-circle"></i>
                    <% end %>
                  <% else %>
                    <p></p> 
                  <% end %>
                </div>
                <div class="search-img">
                  <%= link_to book_path(book_parsed["id"]) do %>
                    <% if book_parsed["volumeInfo"]["imageLinks"] != nil %>
                      <%= image_tag(find_image(book_parsed), class:"book-cover-search book-shelf-size")%>
                    <% else %>
                      <%= image_tag("no_image.jpg", class:"book-cover-search book-shelf-size")%>
                    <% end %>
                  <% end %>
                </div>
                <div class="book-buttons-shelf">
                  <% if current_user == @user %>
                    <%= link_to book_path(book, :shelf => "Top Shelf"), class:"top-book-btn", remote: true, method: :patch do %>
                      <%= image_tag("Top.png", class:"button-shelf")%>
                    <% end %>
                    <%= link_to book_path(book, :shelf => "Bottom Shelf"), class:"bottom-book-btn", remote: true, method: :patch do %>
                      <%= image_tag("Bottom.png", class:"button-shelf")%>
                    <% end %>
                    <%= link_to book_path(book, :shelf => "Table"), class:"table-book-btn", remote: true, method: :patch do %>
                      <%= image_tag("Table.png", class:"button-shelf")%>
                    <% end %>
                  <% else %>
                    <p></p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <button aria-label="Previous" class="glider-prev">«</button>
          <button aria-label="Next" class="glider-next">»</button>
          <div role="tablist" class="dots"></div>
        </div>
        <%= image_tag("Shelftransp.png", class:"shelf-position")%>
      </div>


<%# Shelf 3 %>
      <div class="featured-title carousel-seperator">
        <h2>Bottom Shelf</h2>
        <div class="table-description-dflex">
          <% if current_user == @user %>
            <p>No book wants to be on this shelf. Save this space for books you've read and want to actively discourage others from reading.</p>
          <% else %>
            <p>These are books that <%= @user.first_name %> has read but would rather not have done...</p>
          <% end %>
          <div class="icon-explain">
            <% if current_user == @user %>
              <p>Place on your <%= image_tag("Top.png", class:"button-shelf") %> Top shelf |</p> 
              <p><%= image_tag("Middle.png", class:"button-shelf") %> Middle shelf |</p> 
              <p><%= image_tag("Table.png", class:"button-shelf") %> Table</p> 
            <% end %>
          </div>
        </div>

        <div class="glider-contain glider-select-three">
          <div class="glider-three glider-select">
          
            <% @books_bottom.each do |book| %>
              <% book_parsed =  find_book(book["code"]) %>
              <div class="book-carousel-small">
                <div class="book-buttons-shelf">
                  <% if current_user == @user %>
                    <% if book.reviews.empty? %>
                      <%= link_to new_book_review_path(book) do %>
                        <i class="far fa-edit new-icon-color"></i>
                      <% end %>
                    <% else %>
                      <%= link_to edit_book_review_path(book.id, book.reviews.last) do %>
                        <i class="far fa-edit edit-icon-color"></i>
                      <% end %>
                    <% end %> 
                    <%= link_to book_path(book) , method: :delete, class:"delete-book" do %>
                      <i class="fas fa-times-circle"></i>
                    <% end %>
                  <% else %>
                    <p></p> 
                  <% end %>
                </div>
                <div class="search-img">
                  <%= link_to book_path(book_parsed["id"]) do %>
                    <% if book_parsed["volumeInfo"]["imageLinks"] != nil %>
                      <%= image_tag(find_image(book_parsed), class:"book-cover-search book-shelf-size")%>
                    <% else %>
                      <%= image_tag("no_image.jpg", class:"book-cover-search book-shelf-size")%>
                    <% end %>
                  <% end %>
                </div>
                <div class="book-buttons-shelf">
                  <% if current_user == @user %>
                    <%= link_to book_path(book, :shelf => "Top Shelf"), class:"top-book-btn", remote: true ,:method=> :patch do %>
                      <%= image_tag("Top.png", class:"button-shelf")%>
                    <% end %>
                    <%= link_to book_path(book, :shelf => "Middle Shelf"), class:"middle-book-btn", remote: true , :method=> :patch do %>
                      <%= image_tag("Middle.png", class:"button-shelf")%>
                    <% end %>
                    <%= link_to book_path(book, :shelf => "Table"), class:"table-book-btn", remote: true , :method=> :patch do %>
                      <%= image_tag("Table.png", class:"button-shelf")%>
                    <% end %>
                  <% else %>
                    <p></p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <button aria-label="Previous" class="glider-prev">«</button>
          <button aria-label="Next" class="glider-next">»</button>
          <div role="tablist" class="dots"></div>
        </div>
        <%= image_tag("Shelftransp.png", class:"shelf-position")%>
      </div>


<%# Shelf 4 %>
      <div class="featured-title carousel-seperator table-carousel">
        <% if current_user == @user %>
          <h2>On Your Table</h2>
        <% else %>
          <h2>On Their Table</h2>
        <% end %>
        <div class="table-description-dflex">
          <% if current_user == @user %>
            <p>Your table is for books that you've found and want to save for later or for books youv'e read but haven't decided on the shelf yet.</p>
          <% else %>
            <p><%= trim_s(@user.first_name) %> table is for their books that they've saved for later.</p>
          <% end %>
          <div class="icon-explain">
            <% if current_user == @user %>
              <p>Place on your <%= image_tag("Top.png", class:"button-shelf") %> Top shelf |</p> 
              <p><%= image_tag("Middle.png", class:"button-shelf") %> Middle shelf |</p> 
              <p><%= image_tag("Bottom.png", class:"button-shelf") %> Bottom shelf</p> 
            <% end %>
          </div>
        </div>

        <div class="glider-contain glider-select-four">
          <div class="glider-four glider-select">
          
            <% @books_table.each do |book| %>
              <% book_parsed =  find_book(book["code"]) %>
              <div class="book-carousel-small">
                <div class="book-buttons-shelf">
                  <% if current_user == @user %>
                    <% if book.reviews.empty? %>
                      <%= link_to new_book_review_path(book) do %>
                        <i class="far fa-edit new-icon-color"></i>
                      <% end %>
                    <% else %>
                      <%= link_to edit_book_review_path(book.id, book.reviews.last) do %>
                        <i class="far fa-edit edit-icon-color"></i>
                      <% end %>
                    <% end %> 
                    <%= link_to book_path(book) , method: :delete, class:"delete-book" do %>
                      <i class="fas fa-times-circle"></i>
                    <% end %>
                  <% else %>
                    <p></p> 
                  <% end %>
                </div>
                <div class="search-img">
                  <%= link_to book_path(book_parsed["id"]) do %>
                    <% if book_parsed["volumeInfo"]["imageLinks"] != nil %>
                      <%= image_tag(find_image(book_parsed), class:"book-cover-search book-shelf-size")%>
                    <% else %>
                      <%= image_tag("no_image.jpg", class:"book-cover-search book-shelf-size")%>
                    <% end %>
                  <% end %>
                </div>
                <div class="book-buttons-shelf shelf-bottom-icons">
                  <% if current_user == @user %>
                    <%= link_to book_path(book, :shelf => "Top Shelf"), class:"top-book-btn", remote: true, method: :patch do %>
                      <%= image_tag("Top.png", class:"button-shelf") %>
                    <% end %>
                    <%= link_to book_path(book, :shelf => "Middle Shelf"), class:"middle-book-btn", remote: true , :method=> :patch do %>
                      <%= image_tag("Middle.png", class:"button-shelf")%>
                    <% end %>
                    <%= link_to book_path(book, :shelf => "Bottom Shelf"),class:"bottom-book-btn", remote: true ,:method=> :patch do %>
                      <%= image_tag("Bottom.png", class:"button-shelf")%>
                    <% end %>
                  <% else %>
                    <p></p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <button aria-label="Previous" class="glider-prev">«</button>
          <button aria-label="Next" class="glider-next">»</button>
          <div role="tablist" class="dots"></div>
        </div>
        <%= image_tag("Shelftransp.png", class:"shelf-position")%>
      </div>

    </div>    
  
</div>