<% if user_signed_in? %>
  
  <div class="<%= navbar %> d-none d-md-flex">   
    <div class="nav-col nav-one">
      <%= link_to "About Book Club", books_path, class:"nav-link-book"%>
    </div>
    <div class="nav-col nav-two">
      <%= link_to "Your Library", user_path(current_user), class: "nav-link-book" %>
    </div>
    <div class="nav-col nav-three">
      <%= link_to "Find People", friendships_path ,class: "nav-link-book" %>
    </div>
    <div class="nav-col nav-four">
      <%= link_to "Book Club", activities_path, class: "nav-link-book" %>
    </div>
    <div class="nav-col nav-five">
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link-book" %>
    </div>
    <div class="seperator-container">
      <div class="seperator-one"></div>
      <div class="seperator-two"></div>
      <div class="seperator-three"></div>
    </div>
    <%= render 'shared/footer' %>
  </div>

<% else %>
  <div class="home-navbar-out navbar-home-position">  
    <div class="nav-col nav-three">
      <%= link_to "About Book Club", books_path, class:"nav-link-book nav-search-out"%>
    </div>
    <div class="nav-col nav-four">
      <%= link_to "Sign Up", new_user_registration_path, class: "nav-link-book nav-sign-up" %>
    </div>
    <div class="nav-col nav-five">
      <%= link_to "Log In", new_user_session_path, class: "nav-link-book nav-log-in" %>
    </div>
  </div>
<% end %>
