<div class="log-in-wrapper">
  <h2 class="text-center">REVIEW FOR <%= @book.name.upcase %></h2>

  <%= simple_form_for [@book, @review] do |f| %>
    <div class="form-inputs">
      <%= f.input :title, label: "Review Title" %>
      <%= f.input :content, label: "What did you think of the book?" %>
      <%= f.input :date_read, as: :date, html5: true, label: "Date you read the book"%>
    </div>

    <div class="form-actions">
      <%= f.submit class: 'btn btn-primary btn-long', id: 'form-button' %>
    </div>
  <% end %>
  <div class="back-button">
    <%= link_to "Back", user_path(@book.user) %>
  </div>
</div>