<div class="wrapper-index">
  <%= render "shared/search_books" %>
  <%= render "shared/navbar" %>

  <div class="search-results book-show-layout friendships-layout">
  
      <div class="search-friends">
      
      <h2><%= link_to "Friends", friendships_path %></h2>
      <%= form_tag friendships_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search"
        %>
        <%# <%= submit_tag "Search", class: "btn btn-primary" %> 
      <% end %>
      <p><%= link_to "Browse", users_path %></p>
      <p><%= link_to "Friend Requests", friendships_requests_path %></p>
    </div>
    <div class="book-show-top friend-background">
      <div class="search-friends-container flex-wrap">
        <% if params[:query].present? %>
          <%  @search.each do |result| %>
            <div class="review-card card-height">
              <div class="review-headline search-link mb-0">
                <%= link_to user_path(result.id) do %> 
                  <%if result.photo.attached? %>
                    <%= cl_image_tag(result.photo.key, class:"review-image friend-image")%>
                  <% else %>
                    <%= image_tag("user.png", class:"review-image friend-image")%>
                  <% end %>
                  <div class="friend-headline search-headline">
                    <h3><%= result.first_name.upcase if result.first_name %> <%= result.last_name.upcase if result.last_name%></h3>
                <% end %>
                    <p><%= pluralize(result.books.count, "book")%> in their library </p>    
                      <% if @user.id.eql?(result.id)%>
                        <p>That's you!</p>
                      <% elsif @user.pending_friends.include?(result) %>
                        <p>Friend Request Sent</p>
                      <% elsif @user.friends_with?(result) %>
                        <p>Friends</p>
                      <% else %>
                        <%= link_to "Add Friend", user_friendships_path(result), method: :post, class:"btn-add-friend" %> 
                      <% end %>
                  </div>        
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="book-show-bottom friend-container">
      <% if !@user.friends.empty? %>  
          <h2>Your Friends</h2>
      <% end %>
      <div class="reviews-wrapper">
        <% @user.friends.each do |friend| %>
          
            <div class="review-card card-height">
              <div class="review-headline mb-0">
                <%= link_to user_path(friend), class:"review-link" do %>              
                  <%if friend.photo.attached? %>
                    <%= cl_image_tag(friend.photo.key, class:"review-image friend-image")%>
                  <% else %>
                    <%= image_tag("user.png", class:"review-image friend-image")%>
                  <% end %>
                  <div class="friend-headline">
                    <h3><%= friend.first_name.upcase %> <%= friend.last_name.upcase%></h3>
                    <div class="review-seperator seperator-margin"></div>
                    <p><%= pluralize(friend.books.count, "book") %> in their library</p>
                  </div>
                <% end %>
              </div>              
                           
              
            </div>  
        <% end %>
      </div>
    </div>

  </div>

</div>


  