<div class="wrapper-index">
  <%= render "shared/search_books" %>
  <%= render "shared/navbar" %>
  <div class="search-results book-show-layout book-index-text">
    <% @books.reverse.each do |book| %>
      <% if current_user.friends_with?(book.user) %>
        <%= book.user.first_name %>
        <%= book.user.last_name %>
        <%= book.name %>
        <%= book.shelf %>
      <% end %>
    <% end %>
  </div>


  



</div>
