<div class="home-wrapper">
  <div class="home-logo">
    <h1>Book Club</h1>
    <nav class="navbar navbar-expand-lg navbar-hamburger-style navbar-light d-md-none ">
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active nav-ham-one">
            <%= link_to "About Book Club", books_path, class:"nav-link-book"%>
          </li>
          <li class="nav-item nav-ham-two">
            <%= link_to "Your Library", user_path(current_user), class: "nav-link-book" %>
          </li>
          <li class="nav-item nav-ham-three">
            <%= link_to "Find People", friendships_path ,class: "nav-link-book" %>
          </li>
          <li class="nav-item nav-ham-four">
            <%= link_to "Book Club", activities_path, class: "nav-link-book" %>
          </li>
          <li class="nav-item nav-ham-five">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link-book" %>
          </li>
        </ul>
      </div>     
    </nav>
    
  </div>

  <%= render partial: "shared/search", locals: { search_class: "container-search container-search-home" } %>
  
  <div class="home-info">
    <%= render "book_home" %>
    <div class="home-about">
      <h2>Welcome to the Book Club.</h2>
      <h4>
      The Book Club was built to help people connect through their love of books. <br> It's a space for you to find new recommendations, share your thoughts and keep track of what you've been reading.
      <br> If you're not sure where to begin, you can start by browsing some bookshelves or join a chatroom to ask for a friend's opinion. <br>
      </h4>
      <%= link_to books_path do %>
        <h4 class="btn-large btn-primary">Start Browsing </h4>
      <% end %>
    </div>
    <%= render partial: "shared/navbar", locals: {navbar:"home-navbar navbar-home-position"} %>
  </div>
  <div class="seperator-container">
        <div class="seperator-one"></div>
        <div class="seperator-two"></div>
        <div class="seperator-three"></div>
      </div>
      <%= render 'shared/footer' %>
</div> 
