<div class="home-wrapper">
  <div class="home-logo">
    <h1>Book Club</h1>   
    <%= render "shared/hamburger", locals: { navbar: ""} %> 
  </div>

  <%= render partial: "shared/search", locals: { search_class: "container-search container-search-home" } %>
  
  <div class="home-info">
    <%= render "book_home" %>
    <div class="home-about">
      <h2>Welcome to the Book Club.</h2>
      <h4>
      The Book Club was built to help people connect through their love of books. <br> It's a space for you to find new recommendations, share your thoughts and keep track of what you've been reading.
      <br> If you're not sure where to begin, you can start by browsing some bookshelves or join a chatroom to ask for a friend's opinion. <br>
      </h4>
      <%= link_to books_path do %>
        <h4 class="btn-large btn-primary">Start Browsing </h4>
      <% end %>
    </div>
    <%= render partial: "shared/navbar", locals: {navbar:"home-navbar navbar-home-position"} %>
  </div>
  <div class="seperator-container">
        <div class="seperator-one"></div>
        <div class="seperator-two"></div>
        <div class="seperator-three"></div>
      </div>
      <%= render 'shared/footer' %>
</div> 
