<div class="wrapper-index">
  <%= render "shared/search_books" %>
  <%= render "shared/navbar" %>
  <div class="search-results">
    <h2>Results for "<%= capitalise(@text) %>" </h2>
    <% @books["items"].each do |book| %>
      <% if book["volumeInfo"]["authors"] != nil %>
        <%= link_to book_path(find_id(book)), class:"index" do %>
          <div class="book-search-card">
            <div class="search-img">
              <% if book["volumeInfo"]["imageLinks"] != nil %>
                <%= image_tag(find_image(book), class:"book-cover-search")%>
              <% else %>
                <%= image_tag("no_image.jpg", class:"book-cover-search")%>
              <% end %>
            </div>

            <div class="search-text">
              <div class="book-headline">
                <h3><%= find_title(book) %></h3>
                <p><em><%= find_author(book) %></em></p> 
                <p class="book-info-text"><%= shorten_sentence(find_description(book), 447) %></p>
              </div>

              <div class="index">
                <% if book_match(@user_books, book) %>
                  <p class="btn btn-round btn-grey btn-white">In your library</p>
                <% else %>
                  <%= link_to "Add To Your Library", books_path(param1: find_title(book), param2: book["volumeInfo"]["authors"], param3: find_id(book)), method: :post, remote: true ,class: "btn btn-primary btn-round btn-white btn-add" %> 
                <% end %>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>
    <% end %>
    
  </div>
  
</div>
