<div class="wrapper-index">
  <%= render "shared/search_books" %>
  <%= render "shared/navbar" %>

  <div class="search-results book-show-layout">
    <div class="book-show-top">
      
      
      <div class="book-show-left">
        <div class="show-image">
          <%= image_tag(@book["volumeInfo"]["imageLinks"]["thumbnail"], class:"book-show-img")%>
        </div>
        <div class="book-text-details">
          <p><%= @book["volumeInfo"]["industryIdentifiers"][0]["type"] %> : <%= @book["volumeInfo"]["industryIdentifiers"][0]["identifier"] %></p>
          <p>Pages: <%= @book["volumeInfo"]["pageCount"] %></p>
          
          <% if !@book["volumeInfo"]["averageRating"].nil? %>
            <p>Rating: <%="⭐️" * @book["volumeInfo"]["averageRating"].to_i %></p>
          <% end %>
          <% if !@book["volumeInfo"]["ratingsCount"].nil? %>
            <p>Number of Ratings: <%= @book["volumeInfo"]["ratingsCount"] %></p>
          <% end %>
          <%= link_to "Add To Your Library", books_path(param1: @book["volumeInfo"]["title"], param2: @book["volumeInfo"]["authors"][0], param3: @book["id"]), method: :post, class: "btn btn-primary btn-round" %>
          
          
        
        
        </div>
      </div>
      <div class="book-show-right">
        <div class="book-show-headlinetext">
          <h2><%= @book["volumeInfo"]["title"] %></h2>
          <h3><%= @book["volumeInfo"]["authors"][0] %></h3>
          <% if !@book["volumeInfo"]["categories"].nil? %>
            <p>Category: <%= @book["volumeInfo"]["categories"][0] %></p>
          <% end %>
        </div>
        <div class="book-show-desc">
          <% description = @book["volumeInfo"]["description"] %>
          <p><%= Sanitize.fragment(description) %></p>
        </div>
        
      </div>  

    </div>

    <div class="book-show-bottom"> 
      <% print_title = true %>     
      
      
        <% @friends_book.each do |book| %>
          <% if current_user.friends_with?(book.user) || current_user == book.user %>
            <% if print_title %>
              <h3>Friend Reviews for "<%= @book["volumeInfo"]["title"] %>" </h3>
              <div class="reviews-wrapper">
              <% print_title = false %>
            <% end %>
            
            <div class="review-card review-height">
              <div class="review-headline">
                <%= link_to user_path(book.user), class:"review-link" do %>              
                  <%= image_tag("headshot.jpg", class:"review-image")%>
                  <h3><%= book.user.first_name.upcase %> <%= book.user.last_name.upcase%></h3>
                <% end %>
              </div>
              
              <div class="review-seperator"></div>
              <div class="review-rating">
                <p>On Their <%= book.shelf %></p>
                <% if book.reviews[0] != nil %>
                  <p>Date Read: <%= book.reviews[0].date_read %></p>
                <% else %>
                  <p>Date Read: <em>No date</em></p>
                <% end %>
              </div>
              <div class="review-content">
              <% if book.reviews[0] != nil %>
                <h3><%= book.reviews[0].title %></h3>
                <p><%= book.reviews[0].content %></p>                
              <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

</div>
