<div class="wrapper-index">
  <%= render "shared/search_books" %>
  <%= render partial: "shared/navbar", locals: {navbar:"home-navbar"} %>

  <div class="search-results book-show-layout">

    <div class="book-show-top card-shadow">
      <%# Book information column %>
      <div class="book-show-left">
        <div class="show-image">
          <%= image_tag(find_image(@book), class:"book-show-img", alt:"book cover")%>
        </div>
        <div class="book-text-details">
          <p><%= find_isbn_type(@book, "type") %> : <%= find_isbn_type(@book, "identifier") %></p>
          <p>Pages: <%= @book["volumeInfo"]["pageCount"] %></p>
          
          <% if !find_average_rating(@book).nil? %>
            <p>Rating: <%="⭐️" * find_average_rating(@book).to_i %></p>
          <% end %>
          <% if !find_rating_count(@book).nil? %>
            <p>Number of Ratings: <%= find_rating_count(@book) %></p>
          <% end %>

          <% if book_match(@user_books, @book) %>
            <p class="btn btn-round-medium btn-grey btn-white">In your library</p>
          <% else %>
            <%= link_to "Add To Your Library", books_path(param1: find_title(@book), param2: find_author(@book), param3: find_id(@book)), method: :post, remote: true ,class: "btn btn-primary btn-round-medium btn-white btn-add" %>
          <% end %>
        </div>
      </div>


      <div class="book-show-right">
      <%# Book Text column %>
        <div class="book-show-headlinetext">
          <h2><%= find_title(@book) %></h2>
          <h3><%= find_author(@book) %></h3>
          <% if !@book["volumeInfo"]["categories"].nil? %>
            <p>Category: <%= find_category(@book) %></p>
          <% end %>
        </div>
        <div class="book-show-desc">
          <% description = find_description(@book) %>
          <p><%= Sanitize.fragment(description) %></p>
        </div>
      </div>  

    </div>

    <%# Book Reviews %>
    <div class="book-show-bottom pr-0"> 
      <%# Only show the title if there are any reviews, otherwise be blank %>
      <% print_title = true %>    
        <% @friends_book.each do |book| %>
          <% if current_user.friends_with?(book.user) || current_user == book.user %>
            <% if print_title %>
              <h3>Friend's who have "<%= find_title(@book) %>" in their library</h3>
              <div class="reviews-wrapper">
              <% print_title = false %>
            <% end %>
            
            <div class="review-card review-height">
              <div class="review-headline mb-0">
                <%= link_to user_path(book.user), class:"review-link" do %>              
                  <%if book.user.photo.attached? %>
                    <%= cl_image_tag(book.user.photo.key, class:"review-image friend-image image-small" , alt:"reviewers' profile photo")%>
                  <% else %>
                    <%= image_tag("user.png", class:"review-image friend-image image-small", alt:"reviewer's profile photo")%>
                  <% end %>
                  <h3><%= book.user.first_name.upcase %> <%= book.user.last_name.upcase%></h3>
                <% end %>
              </div>
              
              <div class="review-seperator"></div>
              <div class="review-rating">
                <p>On Their <%= book.shelf %></p>
                <% if book.reviews.last.nil? %>
                  <p>Date Read: <em>No date</em></p>
                <% else %>
                  <p>Date Read: <%= book.reviews.last.date_read %></p>
                <% end %>
              </div>
              <div class="review-content">
                <% if !book.reviews.last.nil? %>
                  <h3><%= book.reviews.last.title %></h3>
                  <p><%= book.reviews.last.content %></p>                
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div> 

  </div>
</div>
