<div class="container mb-4">

  <%= render "shared/search_books" %>

  <h1><%= @book["volumeInfo"]["title"] %></h1>
  <h2><%= @book["volumeInfo"]["authors"][0] %></h2>
   <p><% description = @book["volumeInfo"]["description"] %></p> 
  <p><%= Sanitize.fragment(description) %></p>
  <%= image_tag(@book["volumeInfo"]["imageLinks"]["thumbnail"])%>
  <p><%= @book["volumeInfo"]["industryIdentifiers"][0]["type"] %> : <%= @book["volumeInfo"]["industryIdentifiers"][0]["identifier"] %></p>
  <p>Pages:<%= @book["volumeInfo"]["pageCount"] %></p>

  <% if !@book["volumeInfo"]["categories"].nil? %>
    <p>Category:<%= @book["volumeInfo"]["categories"][0] %></p>
  <% end %>

  <% if !@book["volumeInfo"]["averageRating"].nil? %>
    <p>Rating:<%= @book["volumeInfo"]["averageRating"] %></p>
  <% end %>

  <% if !@book["volumeInfo"]["ratingsCount"].nil? %>
    <p>Number of Rating:<%= @book["volumeInfo"]["ratingsCount"] %></p>
  <% end %>

  <% @friends_book.each do |book| %>
    <% if current_user.friends_with?(book.user) %>
      <%= link_to (book.user) do %>
        <%= book.user.first_name %>  
      <% end %>
    <% end %>
  <% end %>

  <%= link_to "Save", books_path(param1: @book["volumeInfo"]["title"], param2: @book["volumeInfo"]["authors"][0], param3: @book["id"]), method: :post, class: "btn btn-primary" %>
</div>