<div class="wrapper-index">
  <%= render "shared/search_books" %>
  <%= render partial: "shared/navbar", locals: {navbar:"home-navbar"} %>
  <div class="activities-layout">
    <div class="activity-top">
      <div class="featured-books">
        <%# Carousel - Recently Added %>
        <%= render "shared/carousels/recently_added" %>
        <%# Carousel - Top books %>
        <%= render "shared/carousels/top_books_activity" %>
      </div>

        
      <%# Activity Feed %>
      <div class="activity-feed">
        <h2>Activity Feed</h2>
        <p>A list of recent activity from your friends.</p>
        <% if @activities.empty? %>
          <div class="activity-card">
            <p>No Recent Activity!</p>
          </div>
        <% else %>
          <% @activities.each_with_index do |activity, index| %>
          <%# Change index to display more results, kept as most recent 5 %>
            <% if index <= 4 %> 
              <div class="activity-card">
                <% user = User.find(activity.owner_id) %>
                <%if user.photo.attached? %>  
                  <%= cl_image_tag(user.photo.key, class:"review-image friend-image image-xsmall")%>
                <% else %>
                  <%= image_tag("user.png", class:"review-image friend-image image-xsmall")%>
                <% end %>
                <div class="activity-text">
                  <p class="activity-date"><%= activity.created_at.strftime("%b %e, %l:%M %p") %></p>
                  <p><%= render_activity activity %></p>
                </div>
              </div>
            <% end %>
            <% index += 1 %>
          <% end %>
        <% end %>

        <%# Chatroom Link %>
        <div>
          <%= link_to chatroom_path(1) do %>
            <p class="btn-large btn-primary">Enter the Chat Room</p>
          <% end %>
        </div>
      </div>

    </div> 
  </div>
</div>
<%# </div> %>
